body{
  display:flex;
  justify-content: center;
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-size: 130%;
  color:black;
}
.input{
  width:50%;
  border-radius: 5px;
  font-size: 150%;
  background-color: aliceblue;
}
textarea{
  height:5vmax;
  width:50%;
}
.checkbox{
  width:30%;
  height:1.5vmax;
}
form{
  width:50%;
  border-radius: 5%;
  background-color:rgb(231, 156, 15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:5%;
}
